.hidden {
    transform: scale(0);
}

* {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;

}

/* YEEZY */

.yeezy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.7vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #121214;
}

.yeezy:after {
    content: "";
    top: -10%;
    left: 0%;
    width: 100%;
    height: 20vh;
    z-index: 10;
    position: absolute;
    background-color: rgba(89, 131, 252, 0);
    background-image: linear-gradient(180deg, rgba(89, 131, 252, 0) 0%, rgba(19, 19, 22, 1) 50%, rgba(89, 131, 252, 0) 100%);
}

.yeezy_container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 85%;
    height: 80%;
    position: relative;
}

.yeezy-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap-reverse;
    height: 80%;
    padding: 6% 0;
}

.yeezy_title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    gap: 16px;
    line-height: 40px;
    letter-spacing: 0.8px;
    text-align: center;
}

.yeezy_pboots_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8vh;    
}

.yeezy_desc-p {
    display: inline;
}

.yeezy_title-wrapper {
}

.slider_container {
    content: "";
    position: absolute;
    top: 72%;
    background-color: white;
    width: 100vw;
    height: 24vh;
}

.slider-area {
    width: 100%;
    height: 100%;
    background-color: red;
}
