@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

* {
    object-fit: cover;
    transition: all 300ms ease;
}


.ye_cd {
    scale: 1.1
}

.yeezus_cd {
    scale: 0.9
}

/* FIXES OF ALBUM */

.ow {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ow_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 60.5vh 0;
}

.albums_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.vultures_title {
}

.vultures_buttonClass_img {
}

.album {
    position: relative;
    display: flex;
    z-index: 500;
}


.album_vinyl {
    width: 30%;
    height: auto;
    border-radius: 8px;
    z-index: 5;
}

.album_cd {
    width: 30%;
    height: auto;
    top: 0%;
    left: 0%;
    z-index: 0 !important;
    transition: 300ms ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.album_img-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0px 24px;
    z-index: -1;
}

.album_text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 34px;
    gap: 20px;
    width: 65%;
    height: 400px;
}

.vultures_buttonClass {
    -webkit-box-shadow: 0 7.5px 20px 7px #dcd2c7;
-moz-box-shadow: 0 7.5px 20px 7px #dcd2c7;
box-shadow: 0 7.5px 20px 7px #dcd2c7;
transition: all 300ms ease 50ms;
}

.vultures_buttonClass:hover {
    -webkit-box-shadow: 0 7.5px 32px 32px #dcd2c7;
-moz-box-shadow: 0 7.5px 32px 32px #dcd2c7;
box-shadow: 0 7.5px 32px 32px #dcd2c7;
transform: scale(1.3);
}

.album_subtitle {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400 !important;
    text-align: center;
    font-size: 24px;
}

.album_title {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400 !important;
    margin-top: 14px;
    letter-spacing: 3px;
}

.albums_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.tracklist_container {
    content: "";
    position: absolute;
    left: 65%;
    top: 0;
    width: 35%;
    text-align: center;
}

.tracklist_track {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    font-size: 20px;
}

.tracklist_title {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500;
}

.vultures_buttonClass_img {
    -webkit-box-shadow: 0 7.5px 20px 7px #dcd2c7;
-moz-box-shadow: 0 7.5px 20px 7px #dcd2c7;
box-shadow: 0 7.5px 20px 7px #dcd2c7;
transition: all 300ms ease 50ms;
    padding: -50px -50px !important;
    border: none !important;
}

.vultures_buttonClass_img:hover {
    -webkit-box-shadow: 0 7.5px 32px 32px #dcd2c7;
-moz-box-shadow: 0 7.5px 32px 32px #dcd2c7;
box-shadow: 0 7.5px 32px 32px #dcd2c7;
transform: scale(1.3);
}

.vultures_buttonClass_img {

}

.modal-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.modal-content-wrapper {
    content: "";
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 1100px;
    left: 25%;
    top: 150%;
    height: 700px;
    border-radius: 8px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.02);
}

.modal-content {
    display: flex;
}

.modal-button {
    width: 100%;
    height: 200px;
    border-radius: 120px;
    border: none;
    transform: scale(1);
    transition: all 200ms ease;
    z-index: -100;
}

.modal-button:hover {
    transform: scale(1.3);
}

.button_img {
    width: 100%;
    height: 100%;
    transition: all 600ms ease;
    border: 0.5px solid #7e9ac250;
    border-radius: 14px;
    transform: scale(1.1);
}

.button_img:hover {
    border-radius: 6px;
}

@media (max-width: 725px) {
    .ow {
        margin: 0 0;
    }
    .modal-backdrop {
        height: 150vh;
    }
    .button-wrapper {
        width: 34%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ow_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .modal-button {
        width: 100%;
        height: 100%;
    }
    .ow_container {
    margin: 25.5vh 0;
    }
    .modal-button {
        z-index: 0;
    }
    .modal-content-wrapper {
        width: 92vw;
        left: 0;
        top: 100%;
        height: 250vh;
    }
    .album_vinyl {
        width: 52%;
    }
    .album_cd {
        width: 55%;
        margin-left: -50px;
    }
    .album {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .album_text-wrapper {
        height: 60%;
        width: 100%;
        margin-top: 40px;
    }
    .tracklist_container {
        position: relative; /* Change position to relative */
        left: 0; /* Reset left position */
        width: 100%; /* Set width to full container */
        top: auto; /* Reset top position */
        margin-top: 54px;
    }
    .tracklist_title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        letter-spacing: 4px;
    }
    .tracklist_track-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 12px;
    }

}