@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    transition: all 300ms ease;
    font-family: 'Roboto', sans-serif;
}

.ow {
    position: relative;
    width: 100vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 30vh;
}

.ow_container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 25vh;
    margin-top: 16vh;
}

.albums_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin-top: 280px;
}

.overflower {
    display: flex;
    align-items: center;
    height: 350px;
    overflow: hidden;
}

.album {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: auto;
    z-index: 5;
}


.album_vinyl {
    width: 90%;
    height: 90%;
    border-radius: 8px;
    z-index: 5;
}

.album_cd {
    content: "";
    position: absolute;
    width: 90%;
    height: auto;
    top: 0%;
    left: 0%;
    z-index: -1 !important;
    transition: 300ms ease;
}

.animationSpin {
    animation: spin 5000ms infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.album_text-wrapper {
    content: "";
    position: absolute;
    display: flex;
    top: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    left: -360px;
    width: 48vw;
    margin: 0 0;
}

.album_subtitle {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
}

.album_title {
    margin-top: 14px;
    
}

.yeezus {
    width: 11vw;
}

.ye_cd {
    width: 79%;
}

.yeezus_cd {
    width: 75%;
}

.mbdtf_cd {
    width: 10%;
}

.mbdtf_cd {
    width: 84%;
}

.kanye_photo-collection {
    width: 400px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 80px 72px;
}

.kanye_photo {
    width: 100%;
}

.albums_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

/* MODAL */

.modal-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content-wrapper {
    content: "";
    position: absolute;
    top: 148vh;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    background-color: #b3b9c2fb;
    border-radius: 8px;
    z-index: 1;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button {
    width: 100%;
    height: 96px;
    border-radius: 120px;
    transform: scale(1);
    transition: all 200ms ease;
    z-index: -100;
}

.modal-button:hover {
    transform: scale(1.2);
}

.button_img {
    width: 100%;
    height: 200px;
    transition: all 600ms ease;
    border: 0.5px solid #7e9ac250;
    border-radius: 14px;
    transform: scale(1.1);
}

.button_img:hover {
    border-radius: 6px;
}

.hidden {
    transform: scale(0);
}

.album_title {
    font-weight: 500;
}

.album_subtitle {
    font-weight: 200;
}

.album_text-wrapper {
    border-top: 2px solid white;
}
